.idea
.venv
*.pyc
media
config/settings_dev.py
config/settings_prod.py
.DS_Store
.vscode/settings.json
.vscode/launch.json
.vscode/tags
pytest.ini
data
uploads
.env
vandelay-py.js
.envrc
files
venv/
backup.sql
dumb.rdbzbackup.sql
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
config/settings_prod.py
db.sqlite3

add_products.py
add_product_images.py
add_product_images_alt.py
populate_data.py
update_products.py
